.header{
  padding-top:15px;
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #393F43;
  font-family:'Roboto';
  font-weight: 700;
  font-size: 3vw;
  padding-bottom:15px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}

.header .zFlag{
  font-weight: 900;
  font-size: 3vw;
  text-align: center;
  width: 4%;
  color: white;
  background: #F27326;
}

@media (max-width:1000px) {
 .header {
   padding-top:15px;
   font-size: 6.4vw;
  }
   .header .zFlag{
    width: 6%;
    font-size: 6.4vw;
    
  
   
 } 
}